html {
    color: white;
}

body {
    background-color: #282828;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    max-width: 1120px; /*pro margin funcionar*/
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

.cabecalho .logo {
    width: 65px;
    height: 65px;
}